# Maven target folder
/target/

# Eclipse / IntelliJ / VS Code project files
.classpath
.project
.settings/
.idea/
*.iml
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp

# Node / Playwright
node_modules/
package-lock.json
yarn.lock
.npm/
.playwright/
playwright-report/
 test-results/
requirments/
